.about-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  gap: 20px;
}

.about-text h2 {
  font-family: "Clash Display", serif;
  font-size: 48px;
  padding: 0 20px;
  border: 2px solid var(--about-accent);
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 80px #8a3cff59;
}

.about-text h2 span {
  color: var(--about-accent);
}

.about-text h3 {
  font-family: "Satoshi Variable", serif;
  font-size: 24px;
  color: var(--about-text);
  padding: 0 20px;
  border-bottom: 2px solid var(--about-accent);
}

.about-text p {
  font-size: 18px;
  color: var(--muted-text);
}


.about-image img {
  display: flex;
  margin: 0 auto;
  width: 500px;
  height: 500px;
  border-radius: 50px;
  box-shadow: 0 0 100px #8a3cff6a;
  border: 5px solid var(--accent-color);
}