:root {
    --bg-main: #070912;
    --bg-section: #0b0e1a;
    --bg-card: #101522;
    --bg-card-soft: #141827;

    --purple-main: #a855f7;
    --purple-light: #c084fc;
    --purple-dark: #7e22ce;
    --purple-glow: rgba(168, 85, 247, 0.35);

    --text-main: #ffffff;
    --text-soft: #a78bfa;
    --text-strong: #b36cfe;
    --text-muted: #9ca3af;

    --border-main: #2a3142;
    --border-purple: #7e22ce;

    --button-gradient: linear-gradient(135deg, #8b5cf6, #c084fc);
    --card-gradient: linear-gradient(145deg, #101522, #090b14);

    --shadow-soft: 0 0 25px rgba(168, 85, 247, 0.15);
}

.resume-container {
    margin: 25px 0 auto;
    background-color: var(--bg-main);
    height: 100%;
    padding: 40px 20px;
}

.resume-grid {
    display: grid;
    height: 100%;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    
}

.resume-flex-left, .resume-flex-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
}



.resume {
    background-color: var(--card-gradient);
    border: 1px solid var(--border-main);
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    padding: 20px;

}

.resume:hover {
    box-shadow: var(--shadow-soft);
    background-color: var(--bg-card);
    border-color: var(--border-purple);
}

.resume-hero {
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 15px;
}

.resume-label {
    padding-bottom: 20px;
}

.section-label {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 22px;
}

.section-label span {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: 600;
    color: #C084FC;
}

.label-line {
    width: 70px;
    height: 2px;
    background: #A855F7;
    border-radius: 20px;
}

.resume-hero h1 {
    font-size: 4.5rem;
    margin-bottom: 10px;
    font-family: 'Satoshi Variable', sans-serif;
    color: var(--text-main);
}

.resume-hero h1 span {
    color: var(--purple-main);
}

.resume-hero p {
    text-align: start;
    font-size: 1.125rem;
    color: var(--text-soft);
    line-height: 1.6;
}

.resume-hero .link-buttons {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin: 10px 0;
}

.github-button i {
    font-size: 1.2rem;
    margin-right: 5px;
}

.github-button {
    border-color: var(--border-main);
}


/* FLEX ITEM 2 */

.resume-caption {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--purple-dark);
}

.resume-caption h3 {
    font-size: 1.3rem;
    color: var(--text-main);
    font-weight: 600;
}

.resume-caption i {
    font-size: 1.3rem;
    color: var(--purple-main);
}

.education-card {
    margin: 10px 0 20px 0;
}

.education-card h3 {
    font-size: 1.2rem;
    color: var(--text-strong);
    font-weight: 600;
}

.education-card p {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 5px;
}

.education-card span {
    color: var(--text-muted);
    font-size: 0.9rem;
}

.relevant-coursework {
    margin: 10px 0 20px 0;
}

.relevant-coursework p {
    font-size: 0.90rem;
    color: var(--text-strong);
    font-weight: 400;
}

.coursework-cards {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 10px;
}

.coursework-card {
    background-color: var(--card-gradient);
    border: 1px solid var(--border-main);
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 0.85rem;
    font-weight: 500;
    transition: all 0.3s ease;
}

.coursework-card:hover {
    box-shadow: var(--shadow-soft);
    background-color: var(--bg-card-soft);
    border-color: var(--border-purple);
    cursor: default;
}

.experience-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 25px 20px;
}

.experience-list ul {
    color: var(--text-soft);
    margin-bottom: 10px;
}

.experience-list ul li::marker {
    color: var(--text-soft);
}

.experience-list p {
    font-size: 0.95rem;
    line-height: 1.5;
    color: var(--text-main);
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--border-main);
}

/* FLEX ITEM 3 */

.resume-label-caption {
    display: flex;
    align-items: center;
    margin-bottom: 22px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--border-purple);
}

.resume-label-info {
    display: flex;
    flex-direction: column;
    margin-left: 20px;

}

.resume-label-caption i {
    font-size: 2rem;
    border: 2px solid var(--border-purple);
    padding: 15px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    color: var(--purple-main);
    flex-grow: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resume-label-info h2 {
    font-size: 2.2rem;
    font-family: 'Satoshi Variable', sans-serif;
    color: var(--text-main);
    font-weight: 600;
}

.resume-label-info p {
    font-size: 1rem;
    color: var(--text-soft);
}

.resume-label-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.resume-label-link {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 0.95rem;
    color: var(--text-main);
    text-decoration: none;
    margin-left: 50px;

    transition: all 0.3s ease-in-out;
}

.resume-label-link i {
    font-size: 1.2rem;
    color: var(--purple-main);
    width: 30px;
    aspect-ratio: 1/1;      /* Ensures the icon is a perfect square */
}

.resume-label-link p {
    margin-left: 20px;

}